---
layout: blank
title: Nena Kay
---
<!-- main image slider container -->
<div id="slider-main">
	<!-- image container -->
	<div id="slider"></div>
	<!-- small circles container -->
	<div id="circles"></div>
</div>
<!-- end of main image slider container -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">     
            <div class="title-box">
                <div class="align-self-center border-bottom-dark-gray"></div>
                <div class="title-box-text text-uppercase title-md font-400 playfair black-color">Posts</div>
                <div class="align-self-center border-bottom-dark-gray"></div>
            </div>    
       </div>   
    </div>
</div>
<div class="container">   
    <div class="row align-items-center">
        <div class="col-md-6 top-bottom-30">
                <a href="fashion">
                <div class="home-category-box1"></div>
            </a>
        </div>
        <div class="col-md-6">
            <h2>Taking the audience on a visual journey with me</h2>           
        </div>
      </div>        
    </div>
</div>
{% include instawg.html %}
<div class="divider"></div>
{% include share.html %}