<div class="container-fluid white-background" id="page-top">
		<div class="row">
				<div class="col">
					<div class="header-social">
						<a href="https://instagram.com/nena_kay_?utm_source=ig_profile_share&igshid=1oa6fdxfjlhv5" target="_blank"><img src="{{ '/images/instagram-logo.svg' | prepend: SourceUrl }}" alt="Nena Kay on Instagram"></a>
						<a href="https://www.facebook.com/profile.php?id=1490123376" target="_blank"><img src="{{ '/images/facebook-letter-logo.svg' | prepend: SourceUrl }}" alt="Nena Kay on Facebook"></a>
						<a href="https://pin.it/aur5m2qjwjkttb" target="_blank"><img src="{{ '/images/pinterest.svg' | prepend: SourceUrl }}" alt="Nena Kay on Pinterest"></a>
					</div>
				</div>
			</div>
	<div class="row">
		<div class="col-lg-4 col-sm-12">
			<img class="logo" src="{{ '/images/nena-kay-logo.png' | prepend: SourceUrl }}">
		</div>
		<div class="col-lg-8 col-sm-12">
			<nav class="navbar navbar-expand-lg navbar-light">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
						  <ul class="navbar-nav">
							<li class="nav-item">
							  <a class="nav-link" href="{{ '/' | prepend: SourceUrl }}">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
									Categories
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="{{ '/fashion' | prepend: SourceUrl }}">Fashion</a>
									<a class="dropdown-item" href="{{ '/travel' | prepend: SourceUrl }}">Travel</a>
									<a class="dropdown-item" href="{{ '/malta' | prepend: SourceUrl }}">Malta</a>
									<a class="dropdown-item" href="{{ '/press' | prepend: SourceUrl }}">Press</a>
									</div>
								</li>
							<li class="nav-item">
							  <a class="nav-link" href="{{ '/about' | prepend: SourceUrl }}">About</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" href="{{ '/work-with-me' | prepend: SourceUrl }}">Work With Me</a>
							</li>
							
						  </ul>
						</div>
					  </nav>
		</div>
	</div>
</div>
