<div class="topnav">
    <ul>
        <li><a href="{{ '/' | prepend: SourceUrl  }}">Home</a></li>
        <li><a href="#">Categories</a>
            <ul class="dropdown">
                <li><a href="{{ '/fashion' | prepend: SourceUrl  }}">Fashion</a></li>
                <li><a href="{{ '/travel' | prepend: SourceUrl  }}">Travel</a></li>
                <li><a href="{{ '/malta' | prepend: SourceUrl  }}">Malta</a></li>
                <li><a href="{{ '/press' | prepend: SourceUrl  }}">Press</a></li>
            </ul>
        </li>
        <li><a href="{{ '/about-nena-kay' | prepend: SourceUrl  }}">About</a></li>
        <li><a href="{{ '/work-with-me' | prepend: SourceUrl  }}">Work With Me</a></li>
    </ul>
</div>