<!-- Pushy Menu -->
<nav class="pushy pushy-left shadow">
    <div class="pushy-content">
			<div class="pushy-header">
				<img src="{{ 'images/nena-kay-logo.png' | prepend: SourceUrl }}" width="400px">
			</div>
        <ul class="pushy-main">
            <!-- Submenu -->
            <li class="pushy-link"><a href="{{ '/' | prepend: SourceUrl  }}">Home</a></li>
			<li class="pushy-submenu">
				<button type="button" class="btn">Categories</button>
				<ul>
					<li class="pushy-link"><a href="{{ '/fashion' | prepend: SourceUrl  }}">Fashion</a></li>
					<li class="pushy-link"><a href="{{ '/travel' | prepend: SourceUrl  }}">Travel</a></li>
					<li class="pushy-link"><a href="{{ '/malta' | prepend: SourceUrl  }}">Malta</a></li>
					<li class="pushy-link"><a href="{{ '/press' | prepend: SourceUrl  }}">Press</a></li>
				</ul>
			</li>
			<li class="pushy-link"><a href="{{ '/about-nena-kay' | prepend: SourceUrl  }}">About</a></li>
			<li class="pushy-link"><a href="{{ '/work-with-me/' | prepend: SourceUrl  }}">Work with me</a></li>
        </ul>
        <div class="header-social-pushy">
			<ul>
				<li><a href="https://instagram.com/nena_kay_?utm_source=ig_profile_share&igshid=1oa6fdxfjlhv5" target="_blank"><img src="{{ '/images/instagram-logo.svg' | prepend: SourceUrl }}" alt="Nena Kay on Instagram"></a></li>
				<li><a href="https://www.facebook.com/profile.php?id=1490123376" target="_blank"><img src="{{ '/images/facebook-letter-logo.svg' | prepend: SourceUrl }}" alt="Nena Kay on Facebook"></a></li>
				<li><a href="https://pin.it/aur5m2qjwjkttb" target="_blank"><img src="{{ '/images/pinterest.svg' | prepend: SourceUrl }}" alt="Nena Kay on Pinterest"></a></li>
			</ul>
		</div>
    </div>
</nav>
<!-- Site Overlay -->
<div class="site-overlay"></div>
