@media screen and (min-width: 768px){

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

}

.dropdown-toggle::after {
    display:none;
}

/* typografy */ 

a {
    color: #b81818
}

.title-md {
    font-size: 24px;
}

.title-sm {
    font-size: 18px;
}

.title-xs {
    font-size: 16px;
}

.font-sm {
    font-size: 16px;
}

.font-xs {
    font-size: 14px;
}

.font-xss {
    font-size: 12px;
}

.font-justify {
    text-align: justify;
}

.centered-text {
    text-align: center;
}

.font-700 {
    font-weight: 700 !important;
}

.font-400 {
    font-weight: 400 !important;
}

.font-300 {
    font-weight: 300 !important;
}

.playfair {
    font-family: 'Playfair Display', serif !important;
}

.lato {
    font-family: 'Lato', sans-serif;
}

/* spacing */ 
.top-50 {
    margin-top: 50px;
}

.top-30 {
    margin-top: 30px;
}

.top-20 {
    margin-top: 20px;
}

.bottom-30 {
    margin-bottom: 30px;
}

.top-bottom-20 {
    margin: 20px 0;
}

.padding-v-sm {
    padding: 20px 0;
}

.padding-h-md {
    padding: 0 50px;
}

@media screen and (max-width: 768px){
    .padding-h-md {
        padding: 0 15px;
    } 
}

.padding-md {
    padding: 30px;
}



/* dividers */ 
.divider {
    height: 20px;
}

.divider-sm {
    height: 15px;
}

.divider-md {
    height: 50px;
}

.divider-lg {
    height: 100px;
}

.border-bottom-dark-gray {
    border-bottom: 1px solid #cccccc;
}

.border-bottom-light-gray {
    border-bottom: 1px solid #dedede;
}

.test {
    border: 1px solid #b81818;
}

/* color */ 
.black-color {
    color: #000000 !important;
}

.gray {
    color: #706e6e;
}

.light-gray-background {
    background-color: #eeeeee;
}

/* borders */ 

.light-gray-border {
    border: 1px solid #eeeeee;
}


