

body {
    background: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a h1, a h2, a h3 a h4, a h5, a h6, a p {
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

h1 {
    margin: 15px 0;
    font-size: 26px;
    font-weight: 400;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

h3 {
    margin-bottom: 30px;
}

.post-title {
    margin-bottom: 30px;
}
