---
layout: posts-category
title: Fashion
permalink: /fashion/
---
{% include url.html %}
<div class="row justify-content-center">
    <div class="col-10">
        <div class="title-box top-50">
            <div class="align-self-center border-bottom-light-gray"></div>
            <div class="title-box-text title-md font-300 playfair">{{ page.title }}</div>
            <div class="align-self-center border-bottom-light-gray"></div>
        </div>
    </div>
</div>
<div class="divider-md"></div>
<div class="row">
{% for post in site.posts %}
    {% if post.categories  contains "fashion" %}
        <div class="col-md-4">
            <a href="{{ post.url | prepend: SourceUrl }}">
                <div class="image-box-md" style="background: url('{{ post.image | prepend: SourceUrl }}') no-repeat; background-size: cover; background-position: center;"></div>
                <div class="text-center padding-v-sm">    
                    <h5>{{ post.preview-title }}</h5>
                    <p class="font-xs font-justify gray">{{ post.excerpt }}</p>
                    {% include share.html %}
                </div>
            </a>
        </div>
        <div class="divider"></div>  
    {% endif %}
{% endfor %}
</div>
<div class="divider"></div>